.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    padding: 20px;
    height: 500px;
}

.sidebar-items {
    /* Add styles as needed for your sidebar items */
    padding: 10px; /* Added padding for better appearance */
    cursor: pointer; /* Added cursor pointer to indicate clickable items */
}

.sidebar-items:hover {
    background-color: #f0f0f0; /* Added hover effect for better interactivity */
}
