.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 10px;
    height: 500px;
}

.sidebar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    gap:15px;
    /* Add styles as needed for your sidebar items */
    padding: 10px; /* Added padding for better appearance */
    cursor: pointer; /* Added cursor pointer to indicate clickable items */
}

.sidebar-items:hover {
    color:#3AA078;
}

.txt1{
    width: 150px;
}
.bg{
    background-color: #E4F0EB;
    color: #3AA078;
}